#login-page {
    width: 100%;
    padding: 20px;
}

#login-page h1 {
    display: block;
    text-align: center;
    font-size: 40px;
}

#login-page p {
    display: block;
    text-align: left;
    font-size: 15px;
}


#login-page a {
    text-decoration: underline;
    text-transform: uppercase;
}

#login-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-item {
    width: 300px;
    height: 60px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(50, 50, 100);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.login-item:hover {
    transform: translateY(-5px);
    background-color: rgb(25, 25, 50);
}

.login-item>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: rgb(200, 200, 250);
}

.login-item>div {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.login-item>div>p {
    width: 100%;
    text-align: left;
    position: relative;
    text-transform: capitalize;
    color: rgb(200, 200, 250);
}

@media only screen and (max-width: 400px) {

    .login-item {
        width: 180px;
        height: 60px;
    }

    .login-item>i {
        width: 50px;
        height: 50px;
    }

    .login-item>div {
        width: 120px;
        height: 50px;
    }
}
@media only screen and (max-width: 400px) {

    .login-item {
        width: 250px;
        height: 60px;
    }

    .login-item>i {
        width: 50px;
        height: 50px;
    }

    .login-item>div {
        width: 150px;
        height: 50px;
    }
}

@media only screen and (max-width: 300px) {

    .login-item {
        width: 180px;
        height: 60px;
    }

    .login-item>i {
        width: 50px;
        height: 50px;
    }

    .login-item>div {
        width: 120px;
        height: 50px;
    }
}