<link rel="stylesheet" href="{{ url_for('static', filename='/css/public/footer.css') }}">
<div id="footer">
    <footer>
        <main>
            <div class="footer-content">
                <h1>Company</h1>
                <p class="footer-botton"></p>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">License</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h1>Get Help</h1>
                <p class="footer-botton"></p>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h1>Relevant Link</h1>
                <p class="footer-botton"></p>
                <ul>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Trello</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h1>Follow Us</h1>
                <p class="footer-botton"></p>
                <ul id="footer-social">
                    <li><a><i onclick="OpenURL('/')" class="fab fa-facebook-f"></i></a></li>
                    <li><a><i onclick="OpenURL('/')" class="fab fa-youtube"></i></a></li>
                    <li><a><i onclick="OpenURL('/')" class="fab fa-twitter"></i></a></li>
                    <li><a><i onclick="OpenURL('/')" class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </main>
    </footer>
</div>