<link rel="stylesheet" href="{{ url_for('static', filename='/css/public/header.css') }}">

<header>
    <main>
        <div id="header-main-logo">
            <img id="imgLogo" src="https://i.ibb.co/dpScbFn/zl-bg-w.png" alt="Logo">

        </div>
        <div id="header-main">
            <div id="header-main-page">
                <a href="#">Page</a>
                <a href="#">Page</a>
                <a href="#">Page</a>
                <a href="#">Page</a>
            </div>
            <div id="header-main-login">
                <a id="linkUser" href="#">Login</a>
                <img id="imgUser" src="https://i.ibb.co/dpScbFn/zl-bg-w.png" alt="Logo">
                <img id="imgMenu" src="https://i.ibb.co/dpScbFn/zl-bg-w.png" alt="Logo">
            </div>
        </div>

    </main>
</header>