<link rel="stylesheet" href="{{ url_for('static', filename='/css/public/header.css') }}">

<header>
    <main>
        <div id="header-main-logo">
            <img src="https://i.ibb.co/dpScbFn/zl-bg-w.png" alt="Logo">
            <a href="#">Logo</a>
            <img src="https://i.ibb.co/dpScbFn/zl-bg-w.png" alt="Logo">
            <a href="#">Logo</a>
        </div>
        <div id="header-main-page">
            <a href="#">Page</a>
            <a href="#">Page</a>
            <a href="#">Page</a>
            <a href="#">Page</a>
        </div>
    </main>
</header>