<link rel="stylesheet" href="{{ url_for('static', filename='/css/public/header.css') }}">

<header>
    <main>
        <div id="header-main-logo">
            <img id="imgLogo" onclick="OpenURL('/')" src="https://i.ibb.co/hydH25M/zeloot-white-logo.png" alt="Logo">

        </div>
        <div id="header-main">
            <div id="header-main-page">
                <a href="#">Store</a>
                <a href="#">Games</a>
                <a href="#">Support</a>
            </div>
            <div id="header-main-login">
                {% if(user) %}
                <img id="imgUser" src="{% print(user['uimg']) %}" alt="User">
                {% else %}
                <a id="linkUser" href="#">Login</a>
                {% endif %}
                <img id="imgMenu" onclick="HeaderMenu('open')" src="https://i.ibb.co/xhmy5x4/o-open.png" alt="Menu">
            </div>
        </div>

    </main>
</header>