<link rel="stylesheet" href="{{ url_for('static', filename='/css/private/login.css') }}">

<div id="login-page">
    <h1>Login</h1>
    <br>
    <p>All logins are via social media except <a href="/register/">Zeloot Auth</a></p>
    <br>
    <p>
        by registering or logging into your account, you agree that you have read and
        accepted the <a href="/license/">zeloot license</a>
    </p>
    <br><br>
    <div>
        <div id="login-main">
            <div class="login-item" onclick="OpenURL('/login/google/')">
                <i class="fab fa-google"></i>
                <div>
                    <p>Google</p>
                </div>
            </div>
            <div class="login-item" onclick="OpenURL('/login/facebook/')">
                <i class="fab fa-facebook-f"></i>
                <div>
                    <p>Facebook</p>
                </div>
            </div>
            <!-- <div class="login-item">
                <i class="far fa-envelope"></i>
                <div>
                    <p>Zeloot</p>
                </div>
            </div> -->
        </div>
    </div>
</div>